services:
  mongo:
    healthcheck:
      disable: true
    volumes:
      - mongo-data:/data/db

  bot:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    image: madaminalink-dev
    restart: "no"
    env_file:
      - path: ./.env
        required: false
    environment:
      NODE_ENV: development
    volumes:
      - ..:/app:cached
      - node_modules:/app/node_modules
    command: sleep infinity
    depends_on:
      - mongo

volumes:
  node_modules:
